{% extends "base.html" %}

{% block title %}Attendance get{% endblock title %}

{% block content %}
<h1>Bus {{ attendance.bus }} (Exist)</h1>
<p>Attendance: {{ attendance }}</p>
<form method="post" action="{% url 'attendance:attendance-save' %}">
  {% csrf_token %}
  Status | Full Name <br>
  {% for studentattendance in studentattendance_list %}
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="student{{ forloop.counter }}" name="present_list"
             value="{{ studentattendance.student.id }}" {% if studentattendance.present %} checked{% endif %}>
      <label class="form-check-label" for="student{{ forloop.counter }}">{{ studentattendance.student }}</label>
    </div>
  {% empty %}
    <li>Sorry, no students in this list.</li>
  {% endfor %}
    <input type="submit" value="Save">
</form>

{% endblock content %}
