{% extends "base.html" %}

{% block title %}Attendance Detail{% endblock title %}

{% block content %}
<h1>{{ attendance }}</h1>

<h2>Attendance:</h2>
<ul>
    Student Name | Present <br>
    {% for studentattendance in attendance.studentattendance_set.all %}
        <li>{{ studentattendance.student }} {{ studentattendance.present }}</li>
    {% empty %}
        <li>All students are on the bus.</li>
    {% endfor %}
</ul>

<a href="{% url 'attendance:attendance-change' attendance.id %}">Change</a> |
<a href="{% url 'attendance:attendance-delete' attendance.id %}">DELETE</a>
<br>
<a href="{% url 'attendance:attendance-select' %}">Get new attendance</a>

{% endblock content %}
