{% extends "base.html" %}

{% block title %}Attendance Change{% endblock title %}

{% block content %}


<h2>Attendance Record List:</h2>
<p>Attendance: {{ attendance }}</p>

<form method="post" action="{% url 'attendance:attendance-save' %}">{% csrf_token %}
    Student Name | Absent <br>
    {% for studentattendance in studentattendance_list %}
        <label for="student{{ forloop.counter }}"> {{ studentattendance.student }}</label>
        <input type="checkbox" id="student{{ forloop.counter }}" name="present" value="{{ studentattendance.student.id }}" {% if studentattendance.present %}checked{% endif %}>
        <br>
    {% empty %}
        <li>Sorry, no students in this list.</li>
    {% endfor %}
    <input type="submit" value="Save">
</form>


{% endblock content %}