{% extends "base.html" %}

{% block title %}Attendance Choose{% endblock title %}

{% block content %}
<h1>Attendance Choose</h1>
<form method="post" action="{% url 'attendance:attendance-get-or-create' %}">{% csrf_token %}
    Bus:
    <select name="bus" required id="bus">
        <option value selected>-----</option>
        {% for bus in bus_list %}
            <option value="{{ bus.id }}">{{ bus.bus_number }}</option>
        {% endfor %}
    </select>

    <label for="check_date">Date:</label>
    <input type="date" id="check_date" name="check_date" value="{{ today|date:'Y-m-d' }}"><br>
    Direction:
    <input type="radio" id="coming" name="direction" value="COMING">
    <label for="coming">Coming</label>
    <input type="radio" id="leaving" name="direction" value="LEAVING">
    <label for="leaving">Leaving</label><br>

    <input type="submit" value="Get attendance">
</form>

<p><a href="{% url 'attendance:home' %}">Home page</a></p>
{% endblock content %}