{% extends "base.html" %}

{% block title %}Attendance List{% endblock title %}

{% block content %}
<h1>Attendance List</h1>
<p>Attendance add -> <a href="{% url 'attendance:attendance-select' %}">+ Add Attendance</a></p>

<ul>
{% for attendance in attendance_list %}
  <li>{{ attendance }} | <a href="{% url 'attendance:attendance-detail' attendance.id %}"> detail </a>
   | <a href="{% url 'attendance:attendance-change' attendance.id %}"> edit </a>
   | <a href="{% url 'attendance:attendance-delete' attendance.id %}"> delete </a></li>
{% empty %}
  <li>No attendances are available.</li>
{% endfor %}
</ul>

{% endblock content %}