{% extends "base.html" %}

{% block title %}BusMember List{% endblock title %}

{% block content %}
Active busmember_list by bus and grade filter

<form method="post" action="">{% csrf_token %}
    Grade | Student Name | Bus Member <br>
    {% for student in student_list %}
        <label for="student{{ forloop.counter }}">{{ student.grade }} | {{ student.first_name }}</label>
        <input type="checkbox" id="student{{ forloop.counter }}" name="student_member_list"
               value="{{ student.id }}" {% if student in student_at_busmember_list %} checked{% endif %}>
        <br>
    {% empty %}
        <li>Sorry, no students in this list.</li>
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock content %}