{% extends "base.html" %}

{% block title %}BusMember Change{% endblock title %}

{% block content %}
<h1>BusMember Edit</h1>

<form method="post" action="">{% csrf_token %}
    School | Bus | Student | Version | Is_active <br>
    {% for busmember in busmember_list %}
        <label for="busmember{{ forloop.counter }}">{{ busmember.school }} | {{ busmember.bus }}
            | {{ busmember.student }} | {{ busmember.version }} | {{ busmember.is_active }}</label>
        <input type="checkbox" id="busmember{{ forloop.counter }}" name="student_list"
               value="{{ busmember.student_id }}" {% if busmember.is_active %} checked{% endif %}>
        <br>
    {% empty %}
        <li>Sorry, no busmember in this list.</li>
    {% endfor %}
    <input type="submit" value="Save">
</form>

{% endblock content %}
