{% extends "base.html" %}

{% block title %}Attendance Home{% endblock title %}
{% block content %}
<h1>Attendance Home</h1>

<p><a href="{% url 'attendance:attendance-list' %}">Attendance -></a></p>
<hr>
<p><a href="{% url 'attendance:grade-list' %}">Grades -></a></p>
<hr>
<p><a href="{% url 'attendance:teacher-list' %}">Teachers -></a></p>
<hr>
<p><a href="{% url 'attendance:driver-list' %}">Drivers -></a></p>
<hr>
<p><a href="{% url 'attendance:bus-list' %}">Buses -></a></p>
<hr>
<p><a href="{% url 'attendance:destination-list' %}">Destinations -></a></p>
<hr>
<p><a href="{% url 'attendance:student-list' %}">Students -></a></p>

{% endblock content %}