{% extends "base.html" %}

{% block title %}Student Add{% endblock title %}

{% block content %}

<h1>Add Student</h1>

<form action="" method="post">
  {% csrf_token %}
  First name:<br>
  <input name="first_name" required>
  <br><br>
  Last name:<br>
  <input name="last_name" required>
  <br><br>
  Grade:
  <select name="grade" id="grade" required>
    <option value selected>-----</option>
    {% for grade in grade_list %}
    <option value="{{ grade.id }}">{{ grade }}</option>
    {% endfor %}
  </select><br>
  Bus:
  <select name="bus" id="bus">
    <option value="" selected>-----</option>
    {% for bus in bus_list %}
    <option value="{{ bus.id }}">{{ bus }}</option>
    {% endfor %}
  </select><br>
  <input type="submit" value="SAVE">
</form>

{% endblock content %}