{% extends "base.html" %}

{% block title %}Teacher Change Password{% endblock title %}

{% block content %}

<h1>Teacher Change Password</h1>
<p>You are changing {{ teacher }}'s password!</p>
<form action="" method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    Password:<br>
    <input type="password" name="password1" required>
    <br><br>
    Password(again):<br>
    <input type="password" name="password2" required>
    <br><br>
    <input type="submit" value="CHANGE PASSWORD">
</form>

{% endblock content %}