<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}School Bus Attendance App{% endblock title %}</title>
</head>
<body>
  <header>
    {% block header %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}! You are at {{ user.role }} role. -> <a href="{% url 'logout' %}">Log Out</a>
      <p></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a> |
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    {% endblock header %}
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>